@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- BSTORE-BREADCRUMB START -->
            <div class="bstore-breadcrumb">
                <a href="@Url.Action("Index","MyAccount")">My Account</a>
                <span><i class="fa fa-caret-right	"></i></span>
                <span>Change Password</span>
            </div>
            <!-- BSTORE-BREADCRUMB END -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="page-title">Change Password</h2>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- PERSONAL-INFOMATION START -->
            <div class="personal-infomation">
                <form class="primari-box personal-info-box" id="personalinfo" method="post" action="~/MyAccount/ChangePassword">
                    <h3 class="box-subheading"> Change Password</h3>
                    <h4 class="box-subheading">@TempData["msg"]</h4>
                        <div class="personal-info-content">
                                <div class="form-group primary-form-group p-info-group">
                                    <label for="password">Old Password</label>
                                    <input type="password" value="" name="password" id="password" class="form-control input-feild" required>
                                </div>
                                <div class="form-group primary-form-group p-info-group">
                                    <label for="password">New Password</label>
                                    <input type="password" value="" name="passwordNew" id="passwordNew" class="form-control input-feild" required>
                                </div>
                        <div class="submit-button p-info-submit-button">
                            <input type="submit" value="Submit" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            </div>
            <!-- PERSONAL-INFOMATION END -->
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- RETURNE-CONTINUE-SHOP START -->
        <div class="returne-continue-shop">
            <a href="@Url.Action("Index","MyAccount")" class="continueshoping"><i class="fa fa-chevron-left"></i>Back</a>
        </div>
        <!-- RETURNE-CONTINUE-SHOP END -->
    </div>
</div>

