
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- BSTORE-BREADCRUMB START -->
            <div class="bstore-breadcrumb">
                <a href="@Url.Action("Index","MyAccount")">My Account</a>
                <span><i class="fa fa-caret-right	"></i></span>
                <span>Infomation</span>
            </div>
            <!-- BSTORE-BREADCRUMB END -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="page-title">My Personal Information</h2>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- PERSONAL-INFOMATION START -->
            <div class="personal-infomation">
                <form class="primari-box personal-info-box" id="personalinfo" method="post" action="~/MyAccount/ForgotPassword">
                    <h3 class="box-subheading">Your personal information</h3>
                    @*<h4 class="box-subheading">@TempData["msg"]</h4>*@
                    <div class="personal-info-content">
                        <div class="form-group primary-form-group p-info-group">
                            <label for="password">Email</label>
                            <input type="email" value="" name="Email" id="Email" class="form-control input-feild" required>
                        </div>
                        <div class="submit-button p-info-submit-button">
                            <input type="submit" value="Submit" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            </div>
            <!-- PERSONAL-INFOMATION END -->
        </div>
    </div>
</div>